<div class="list-group">
  <% @user.decisions.each do |decision| %>
    <%= link_to decision.dilemma, user_decision_path(decision.user.id, decision.id), class: "list-group-item" %>
  </br>
  <% end %>
</div>